.page {
  font-family: "Inter", Arial, sans-serif;
  color: white;
  font-weight: 400;
  min-width: 320px;
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 28px 48px 24px;
}

@media screen and (max-width: 1140px) {
  .page {
      padding: 28px 0 24px;
  }
}

@media screen and (max-width: 567px) {
  .page {
      padding: 16px 0 24px;
  }
}