@media screen and (max-width: 1140px) {
    .footer {
        padding-left: 48px;
    }
}

@media screen and (max-width: 986px) {
    .footer {
        padding-left: 24px;
    }
}
@media screen and (max-width: 567px) {
    .footer {
        padding-left: 0;
    }
}
