.header__lang-links {
    margin: 18px 0 0 auto;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  @media screen and (max-width: 984px) {
    .header__lang-links {
      margin: 14px 0 0 auto;
    }
  }